<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>智慧党建系统后台管理</title>
    <link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="__PUBLIC__/css/main.css" media="all"/>

    <link rel="stylesheet" href="/css/common.css">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit" />

    {block name="css"}{/block}

    <!--[if lt IE 9]>
    <script src="__CSS__/html5shiv.min.js"></script>
    <script src="__CSS__/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
    <script type="text/javascript">
        "use strict";
    </script>
</head>
<body>

<!--主体-->
<div style="margin-bottom:0px;">
    {block name="body"}{/block}
</div>

{block name="page"}{/block}


{block name="js"}{/block}
<!--页面JS脚本-->
{block name="script"}{/block}
</body>
{block name="out"}

{/block}
</html>